<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Welcome to gitPub</h1>

    <ul>
        <% for (let i=0; i<drinks.length; i++) { %>

            <% const drinkName = drinks[i].name %>
            <% const splitName = drinkName.split(" ") %>

            <% for (let j=0; j<splitName.length; j++)  { %>
                <% splitName[j] = splitName[j].charAt(0).toUpperCase() + splitName[j].slice(1) %>
                <% } %>

            <% const joinName = splitName.join(" ") %>
 
            <li><a href="/drinks/<%= i %>"><%= joinName %></a></li>
        
            
        <% } %>

    </ul>
    


    <style>
        body {
            background-color: rgb(106, 56, 20);
        }

        h1 {
            color: white;
        }

        li {
            list-style: none;
        }

        a {
            color: white;
        }

    </style>

</body>
</html>