<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Welcome to gitPub</h1>

    <h2>Drink Menu</h2>

        <ul>
            <% for (let i=0; i<drinks.length; i++) { %>

                <% const drinkName = drinks[i].name %>
                <% const splitName = drinkName.split(" ") %>

                <% for (let j=0; j<splitName.length; j++)  { %>
                    <% splitName[j] = splitName[j].charAt(0).toUpperCase() + splitName[j].slice(1) %>
                    <% } %>

                <% const joinName = splitName.join(" ") %>
            

                <li><a href="/drinks/<%= i %>"><%= joinName %></a></li>
        
            <% } %>
        </ul>

        <h2>Food Menu</h2>

        <ul>
            <% for (let i=0; i<food.length; i++) { %>

                <% const foodName = food[i].name %>
                <% const splitName = foodName.split(" ") %>

                <% for (let j=0; j<splitName.length; j++)  { %>
                    <% splitName[j] = splitName[j].charAt(0).toUpperCase() + splitName[j].slice(1) %>
                    <% } %>

                <% const joinName = splitName.join(" ") %>
            

                <li><a href="/food/<%= i %>"><%= joinName %></a></li>
        
            <% } %>
        </ul>



    <style>
        body {
            background-color: rgb(106, 56, 20);
        }

        h1, h2, a {
            color: white;
            font-family: 'Courier New', Courier, monospace;
        }

        h1 {
            font-weight:bold;
        }

        li {
            list-style: none;
            margin: 3px;
                :hover {
                    color: rgb(245, 238, 153);
                    font-style: italic;
                
                }
        }

    
    </style>

</body>
</html>