<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1><b>At foo bar</b></h1>

    <h2>Name: <%= drink.name %></h2>

    <img src="<%= drink.image + '.png' %>" alt="Drink Image">

    <h3>Price: <%= drink.price %></h3>

    <h4><a href="/drinks">Go back</a></h4>

    <style>
        body{
            background-color: rgb(106, 56, 20);
        }

        h1, h2, h3, a {
            color:rgb(243, 239, 235); 
            font-family: 'Courier New', Courier, monospace;
            font-weight: 100;
        }

        a {
            color:rgb(220, 207, 25);
            font-family: 'Courier New', Courier, monospace;
            
        }

        img {
            height: 300px;
            width: auto;
            
        }

    </style>

</body>
</html>